.container{
    margin: 3rem auto;
    text-align: center;
}

body {
    background-image: url(weather-picture2.gif);
    background-size: cover;
}
input, button {
    padding: 10px;
    border-radius: 8px;
    outline: none;
    border: none;
    margin : 5px;
    height: 2.7rem;
}
h1{
    text-align: center;
    margin-top: 50px;
    color:whitesmoke;
}

.inner-container { 
    margin: auto;
    margin-top: 3rem;
    border: 2px solid black;
    border-radius: 10px;
    width: 220px;
    height: auto;
}
button:hover{
    transform: scale(0.97);
}
p{
    font-size: 3rem;
    font-weight: 700;
}
.btn{
    height: 2.7rem;
    width: 6rem;
}
